<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Document</title>
</head>

<body>

    <!-- navigation -->
    <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
        <div class="container">
            <a href="/" class="navbar-brand">Turist</a>
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a href="/blogs" class="nav-link">Şehir Listesi</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-3">
        <div class="row">

            <div class="col-md-9">
                <h1 class="h3 mb-3"><b>Şehir Listesi</b></h1>
                <div class="card mb-3 shadow">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/static/img/nyc.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                   <b>New York</b> 
                                </h5>
                                <p class="card-text">New York Şehri, Amerika Birleşik Devletleri'nin en kalabalık şehri ve dünyanın en kalabalık metropolitan alanlarından New York metropolitan bölgesinin merkezidir. Şehir bir parçası olduğu New York eyaleti ile karıştırıldığı için İngilizcede New York City olarak isimlendirilir.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3 shadow">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/static/img/roma.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                   <b> Roma</b>
                                </h5>
                                <p class="card-text">Roma veya Roma komünü, İtalya'nın, Lazio bölgesinin ve aynı zamanda Roma ilinin başkentidir. Roma hem şehir hem de özel komün statüsü taşır. Tiber ve Aniene nehirleri arasında ve Akdeniz'e yakındır.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3 shadow">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/static/img/paris.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                     <b>Paris</b>
                                </h5>
                                <p class="card-text">Paris, Fransa'nın başkenti ve 105 kilometrekare'den fazla alanda 2,175,601 nüfusu ile en kalabalık şehridir. 17. yüzyıldan beri Paris Avrupa'nın en önemli finans, diplomasi, ticaret, moda, gastronomi, bilim ve sanat merkezlerindendir.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3 shadow">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/static/img/california.webp" class="img-fluid" alt="">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <b>California</b>
                                </h5>
                                <p class="card-text">Kaliforniya veya California, Amerika Birleşik Devletleri'nin batısında bir eyalettir. Doğusunda Nevada, güneydoğusunda Arizona, batısında Pasifik Okyanusu, kuzeyinde Oregon ve güneyinde Meksika'nın Baja ...
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- pagination -->
                <nav>
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a href="" class="page-link">Geri</a>
                        </li>
                        <li class="page-item active">
                            <a href="" class="page-link">1</a>
                        </li>
                        <li class="page-item">
                            <a href="" class="page-link">2</a>
                        </li>
                        <li class="page-item">
                            <a href="" class="page-link">3</a>
                        </li>
                        <li class="page-item">
                            <a href="" class="page-link">İleri</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-3">
                <!-- menu -->
                <div class="list-group">
                    <a href="" class="list-group-item list-group-item-action">Amerika</a>
                    <a href="" class="list-group-item list-group-item-action">Avrupa</a>
                    <a href="" class="list-group-item list-group-item-action">Asya</a>
                    <a href="" class="list-group-item list-group-item-action">Afrika</a>
                </div>
            </div>
        </div>
    </div>



</body>

</html>